<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--
      When restoring a project with a packages.config, NuGet copies the package contents to the location
      specified by "repositoryPath".  If none of the projects in the repo are using packages.config, this
      setting can be removed.
    -->
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSources>
    <clear />
    <add key="azure-core-quality-engineering" value="https://msazure.pkgs.visualstudio.com/One/_packaging/azure-core-quality-engineering/nuget/v3/index.json" />
  </packageSources>
</configuration>
