name: Python CI
on:
  push:
    branches: [ main ]
  pull_request_target:
    branches: [ main ]
  release:
    types: [created]
  workflow_dispatch:

env:
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  AZURE_OPENAI_API: ${{ secrets.AZURE_OPENAI_API }}
  AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}

jobs:
  validation:
    uses: microsoft/action-python/.github/workflows/validation.yml@dciborow-patch-2
    with:
      workdir: '.'
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

  publish:
    uses: microsoft/action-python/.github/workflows/publish.yml@dciborow-patch-2
    with:
      workdir: '.'
    secrets:
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      TEST_PYPI_PASSWORD: ${{ secrets.TEST_PYPI_PASSWORD  }}
